.header {
  background: #eba8b1;
  padding: 38px 0 25px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.navigation ul {
  list-style: none;
  display: flex;
  column-gap: 38px;

}

.navigation ul li {
  font-size: 14px;
  font-family: Gilroy-Medium, sans-serif;
  color: rgb(119, 11, 29);
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: all .3s linear;
}

.navigation-item a {
  text-decoration: none;
  color: rgb(119, 11, 29);
}




.header__burger {
  display: none;
}

.menu__close {
  display: none;
}


@media screen and (max-width: 767px) {
  .header .contacts {
    display: none;
  }

  .navigation {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.79);
    z-index: 100;
  }

  .navigation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .navigation-item {
    margin: 15px 0;

  }

  .navigation ul li {
    margin-right: 0;
    font-size: 26px;
    color: rgb(241 226 229);
  }

  .header__burger {
    display: block;
  }

  .header__burger svg {
    width: 36px;
    height: 36px;
    fill: #eaeaea;
    margin-right: 20px;
  }

  .navigation-item a {
    text-decoration: none;
    color: rgb(224, 224, 224);
  }


  .navigation.open {
    display: flex;
    align-items: center;
  }

  .navigation .menu__close {
    display: block;
    width: 24px;
    height: 24px;
    fill: rgb(231, 231, 231);
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
