<section class="main">
  <div class="container">
    <div class="main-info">
      <h1 class="title">Мягкие французские пироженки Macaroons</h1>
      <p class="main-info-description">Побалуйте себя и своих близких самыми вкусными и ароматными домашними
        пироженками
        Macaroon!
      </p>
      <button class="btn main-btn" (click)="scrollTo(macaroonsElement)">Выбрать макарун</button>
    </div>
    <div class="main-image-inner">
      <div class="main-image">
        <img src="assets/images/macaroons_main.png" alt="Big macaroons">
      </div>
    </div>
  </div>
</section>

<section class="advantages" id="advantages">
  <div class="container">
    <div class="advantages-block">
      <div class="advantage-text">
        <h2 class="advantages-block-title">Мы печём для вас вкуснейшие макаруны уже более 10 лет</h2>
        <p class="advantages-description">
          Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов, ароматизаторов,
          красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина, разрыхлителей и
          улучшителей муки.
        </p>
      </div>
      <div class="advantages-image">
        <img src="assets/images/macaroon-adv.png" alt="Macaroon">
      </div>
    </div>


    <div class="advantages-items">
      <div class="advantages-item" *ngFor="let advantage of advantages; let i = index">
        <div class="advantages-item-image">
          <span class="advantages-item-number">{{ i + 1 }}</span>
        </div>
        <h4 class="advantages-item-title">{{ advantage.title }}</h4>
        <p class="advantages-item-description">{{ advantage.description }}</p>
      </div>
    </div>
  </div>
</section>

<section class="choice" id="choice" #macaroonsElement>
  <div class="container">
    <h2 class="choice-title">Выберите свой макарун</h2>
    <div class="choice-items">
      <div class="choice-item" *ngFor="let macaroon of macaroons">
        <div class="choice-item-image">
          <img src="assets/images/{{macaroon.image}}" alt="Macaroon pink">
        </div>
        <h4 class="choice-item-title">{{ macaroon.title }}</h4>
        <div class="choice-item-content">
          <div class="choice-title-price">
            <div class="price-amount">{{ macaroon.pieces }} шт.</div>
            <div class="price-sum">{{ macaroon.amount }} руб.</div>
          </div>
          <button class="btn choice-btn" (click)="choiceMacaroon(macaroon, orderElement)">
            Заказать
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="order" id="order" #orderElement>
  <div class="container">
    <img src="assets/images/strawberry1.png" alt="Strawberry" class="strawberry">

    <div class="order-image">
      <img src="assets/images/order-macaroons.png" alt="Macaroons">
    </div>
    <div class="order-content">
      <div>
        <img src="assets/images/strawberry2.png" alt="Strawberry" class="strawberry2">
      </div>
      <h3 class="order-content-title">Закажите макарун!</h3>
      <p class="order-content-description">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </p>
      <form class="order-contacts">

        <div class="order-wish-title">Ваш выбор</div>
        <input type="text" class="order-input" name="macaroon" placeholder="Напишите, что хотите заказать..." required
               [(ngModel)]="formValue.macaroonTitle">
        <div class="order-contacts-title">Заполните данные для заказа</div>
        <input type="text" class="order-input" placeholder="Ваше имя" required>
        <input type="tel" class="order-input" placeholder="+375 (__) ___ - __ - __" required>
        <button class="btn order-btn">Оформить заказ</button>
      </form>
    </div>
  </div>
</section>


<div class="present" *ngIf="showPresent">
  <div class="popup">
    <div class="triangle"></div>
    <span>Оформите заказ
        и получите подарок!</span>
  </div>
  <div class="present-block"><img src="assets/images/present.png" alt="present"></div>
</div>
