<section class="main">
  <div class="container">
    <div class="main-info">
      <h1 class="title">Мягкие французские пироженки Macaroons</h1>
      <p class="main-info-description">Побалуйте себя и своих близких самыми вкусными и ароматными домашними
        пироженками
        Macaroon!
      </p>
<!--      <button class="btn main-btn" (click)="scrollTo(macaroonsElement)">Выбрать макарун</button>-->
    </div>
    <div class="main-image-inner">
      <div class="main-image">
        <img src="assets/images/macaroons_main.png" alt="Big macaroons">
      </div>
    </div>
  </div>
</section>

<advantages></advantages>

<macaroons></macaroons>
<section class="order" id="order" #orderElement>
  <div class="container">
    <img src="assets/images/strawberry1.png" alt="Strawberry" class="strawberry">

    <div class="order-image">
      <img src="assets/images/order-macaroons.png" alt="Macaroons">
    </div>
    <div class="order-content">
      <div>
        <img src="assets/images/strawberry2.png" alt="Strawberry" class="strawberry2">
      </div>
      <h3 class="order-content-title">Закажите макарун!</h3>
      <p class="order-content-description">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </p>
      <form class="order-contacts">

        <div class="order-wish-title">Ваш выбор</div>
        <input type="text" class="order-input" name="macaroon" placeholder="Напишите, что хотите заказать..." required
               [(ngModel)]="formValue.macaroonTitle">
        <div class="order-contacts-title">Заполните данные для заказа</div>
        <input type="text" class="order-input" placeholder="Ваше имя" required>
        <input type="tel" class="order-input" placeholder="+375 (__) ___ - __ - __" required>
        <button class="btn order-btn" appButtonsEffects>Оформить заказ</button>
      </form>
    </div>
  </div>
</section>


<div class="present" *ngIf="showPresent">
  <div class="popup">
    <div class="triangle"></div>
    <span>{{cartService.finalPrice | currency: 'Rub' : 'руб'}}</span>
  </div>
  <div class="present-block">
    <img src="assets/images/cart.png" alt="present">
    <div class="present-count">{{cartService.count}}</div>
  </div>
</div>
