.main {
  background: #eba8b1;
  padding: 126px 0 108px 0;

}

.main .container {
  display: flex;
  justify-content: space-between;
}

.main-info {
  z-index: 2;
}

.main-info .title {
  font-size: 55px;
  color: rgb(255, 255, 255);
  line-height: 1.091;
  font-weight: normal;
}

.main-image {
  position: relative;
}

.main-info-description {
  max-width: 349px;
  line-height: 1.389;
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin: 60px 0 80px 0;
}



.btn.main-btn {
  width: 240px;
  padding: 19px;
  font-size: 18px;
}

.main-image img {
  position: relative;
  z-index: 2;
}

.advantages {
  padding: 120px 0;
  background-color: rgb(255, 239, 239);
}


.advantages-block {
  display: flex;
  gap: 40px 120px;
  margin-bottom: 88px;
  align-items: end;
  flex-wrap: wrap;
  justify-content: center;
}

.advantage-text {
  max-width: 475px;
}


.advantages-block-title {
  font-size: 45px;
  font-family: "Tavolga Free", sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  font-weight: normal;

}

.advantages-description {
  font-size: 18px;
  font-family: "Gilroy-Regular", sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  max-width: 402px;
  margin-top: 60px;
}

.advantages-image {
  max-width: 1010px;
}

.advantages-image img {
  width: 100%;
}

.advantages-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  cursor: default;
}

.advantages-item-image {
  position: relative;
  border-radius: 50%;
  background-color: rgb(130, 19, 40);
  width: 70px;
  height: 70px;
  font-size: 60px;
  text-align: center;
  font-family: Gilroy-Extrabold, sans-serif;
  margin-bottom: 13px;
  transition: all .3s linear;
}

.advantages-item-number {

  color: rgb(255, 255, 255);
  line-height: 0.75;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.advantages-item-title {
  font-size: 20px;
  font-family: "Gilroy-Extrabold", sans-serif;
  color: rgb(51, 25, 7);
  margin-bottom: 20px;
}

.advantages-item-description {
  font-size: 15px;
  font-family: "Gilroy-Medium", sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.333;
  max-width: 221px;
}

.choice {
  background: #eba8b1;
  padding: 120px 0;
}

.choice .container {
  padding: 0;
}

.choice-title {
  font-size: 45px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: normal;
}

.choice-items {
  display: flex;
  flex-wrap: wrap;
  gap: 85px 29px;
  margin-top: 143px;
  justify-content: center;
}

.choice-item {
  border-radius: 20px;
  width: 259px;
  border: 2px solid white;
  padding: 109px 21px 31px 21px;
  position: relative;

}


.choice-item-image {
  position: absolute;
  top: -60px;
  right: 30px;
  transition: all .3s linear;
}

.choice-item-image img {
  width: 100%;

}

.choice-item-title {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: normal;
}

.choice-item-content {
  display: flex;
  margin-top: 26px;
  align-items: center;
  justify-content: space-between;
}

.choice-title-price {
  font-size: 15px;
  font-family: "Gilroy-Regular", sans-serif;
  color: rgb(255, 255, 255);
}

.price-amount {
  margin-bottom: 16px;
}




.order {
  background: #ffefef;
  padding: 98px 0 120px 0;
}

.order .container {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: flex-end;
}

.order-image {
  position: relative;
}

.order-image img {
  max-width: 100%;
}

.strawberry {
  position: absolute;
  left: 70px;
  top: 20px;
}

.strawberry2 {
  position: absolute;
  right: 0;
  bottom: 80px;
}

.order-content {
  max-width: 406px;
  position: relative;
}

.order-content-title {
  font-size: 45px;
  color: rgb(51, 25, 7);
  margin-bottom: 41px;
  font-weight: normal;
}

.order-content-description {
  font-size: 18px;
  font-family: "Gilroy-Regular", sans-serif;
  color: rgb(51, 25, 7);
  margin-bottom: 19px;

}

.order-wish-title {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
  color: rgb(18, 10, 6);
  margin-bottom: 10px;
}

.order-input {
  border: 1px solid rgb(130, 19, 40);
  border-radius: 30px;
  width: 295px;
  padding: 23px;
  outline: 0;
  background: transparent;
  margin: 8px 0 7px;
  font-size: 15px;
  color: rgb(118, 12, 34);
  font-family: "Gilroy-Bold", sans-serif;

}

.order-input::placeholder {
  font-size: 15px;
  color: rgb(118, 12, 34);
  font-family: "Gilroy-Bold", sans-serif;

}

.order-contacts {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
}

.order-contacts-title {
  margin-bottom: 14px;
  margin-top: 14px;
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(18, 10, 6);
}

.btn.order-btn {
  border-radius: 30px;
  width: 295px;
  padding: 19px;
  border: 0;
  margin-top: 8px;
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(255, 255, 255);
}






.present {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}


.present-block {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background: #a4283d;
  display: flex;
  align-items: center;
  /*position: relative;*/
  justify-content: center;
}

.present-block img {
  bottom: 0;
}





//animation

.main-image::before {
  content: '';
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid rgba(130, 19, 40, 0.5);
  z-index: 1;
  animation: pulse 2.5s infinite ease-out;
  top: 31%;
  left: 37%;
}

.main-image::after {
  content: '';
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid rgba(130, 19, 40, 0.5);
  z-index: 1;
  animation: pulse 2.5s infinite ease-out;
  animation-delay: 0.5s;
  top: 31%;
  left: 37%;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  35% {
    transform: scale(.35);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: scale(4.3);
    opacity: 0;
  }
}


.strawberry {
  animation: bounce 2s linear infinite;

}

.strawberry2 {
  animation: bounce 4s linear infinite;
}




@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

@keyframes popup {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


.choice-item:hover .choice-item-image {
  transform: scale(1.2);
}

.navigation ul li:hover {
  border-bottom: 1px solid rgb(119, 11, 29);
}

.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.advantages-item:hover .advantages-item-image{
  background: #eba8b1;
}

.advantages-item:hover .advantages-item-number{
  color: rgb(130, 19, 40);
}

.present:hover .present-block{
  box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.present:hover .popup {
  position: absolute;
  right: 90px;
  bottom: 0;
}

.popup {
  border-radius: 10px;
  border: 2px solid rgb(119, 10, 29);
  background-color: rgb(254, 239, 238);
  width: 172px;
  height: 64px;
  padding: 0 15px;
  text-align: center;
  /*display: none;*/
  font-size: 15px;
  font-family: "Gilroy-Medium", sans-serif;
  color: rgb(119, 10, 29);
  line-height: 1.333;
  margin-right: 10px;
  transition: .6s;
  position: absolute;
  bottom: -140px;
  right: 90px;
  animation: present 1s linear;

}

.present-block:hover::after .popup  {
  content: '';
  animation: popup 2s linear ;

  right: 90px;
  bottom: 10px;
}

.present:hover .popup{
  transform: translateY(-15px);
}

.triangle {
  position: relative;
  rotate: 45deg;
  border: none;
  box-sizing: border-box;
  border-right: 2px solid rgb(119, 10, 29);
  border-top: 2px solid rgb(119, 10, 29);
  background: rgb(254, 239, 238);
  width: 13px;
  height: 13px;
  right: -148px;
  bottom: -20px;
}

//adaptive

@media screen and (max-width: 1370px) {
  .present {
    display: none;
  }


}


@media screen and (max-width: 1229px) {
  .main {
    padding: 97px 0 62px 0;
  }

  .main .container {
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 200px;
  }

  .main-info-description {
    margin-bottom: 41px;
    margin-top: 74px

  }

  .main-image {
    position: absolute;
    right: 150px;
    top: 100px;
  }

  .main-image img {
    max-width: 100%;
  }


  .advantages-block {
    justify-items: center;
    text-align: center;

  }

  .advantages-block-title {
    line-height: 1.222;
    max-width: 100%;
  }

  .advantages-description {
    max-width: 100%;
  }

  .advantages-items {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 80px 0;
    justify-items: center;
  }

  .advantages-image {
    max-width: 400px;
  }

  .advantages-item-image {
    margin: 0 auto 13px;
  }

  .order-content {
    order: 1;
  }

  .order-image {
    order: 2;
  }

  .order-image img {
    text-align: end;
  }

  .strawberry {
    left: 570px;
    top: 100px;
  }
}

@media screen and (max-width: 1023px) {
  .main .container {
    margin-bottom: 400px;
  }

  .strawberry {
    left: 420px;
    top: 170px;
  }

  .main-image {
    position: absolute;
    right: 100px;
    top: 300px;
  }
}

@media screen and (max-width: 767px) {


  .main-image-inner {
    position: relative;
    margin: 0 auto;
  }

  .main .container {
    display: block;
    text-align: center;
    margin-bottom: 100px;
  }

  .main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .main-image {
    position: unset;
  }


  .advantages-image {
    max-width: 302px;
  }



  .order .container {
    align-items: flex-end;
  }

  .main {
    padding: 60px 0 62px 0;
  }

  .main-info .title {
    font-size: 32px;
  }

  .main-info-description {
    margin-top: 38px;
    font-size: 16px;
    line-height: 1.438;
  }

  .btn.main-btn {
    width: 240px;
    padding: 19px;
    font-size: 18px;
  }

  .advantages-block-title {
    font-size: 30px;
    line-height: 1.167;
    text-align: center;
  }

  .advantages-items {
    gap: 30px 15px;
  }

  .rights {
    margin-top: 19px;
    font-size: 12px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgb(227, 172, 180);
    display: none;
  }

  .rights_1 {
    margin-top: 19px;
    font-size: 12px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgb(227, 172, 180);
    display: block;
    order: 4;
  }

  .instagram {
    margin-top: 20px;
    margin-bottom: 20px;
    order: 3;
  }

  .contacts {
    margin-top: 20px;
  }

}


@media screen and (max-width: 667px) {

  .advantages-item-description {
    font-size: 13px;
  }

  .order-image {
    display: none;
  }

  .order .container{
    justify-content: center;
  }

  .order-input {
    width: 100%;
  }

  .btn.order-btn {
    width: 100%;

  }

  .order-content-description {
    font-size: 16px;
    margin-bottom: 60px;
  }

  .strawberry {
    right: 160px;
    top: 130px;
    left: unset;
  }

  .strawberry2 {
    display: none;
  }

  .footer .container {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 430px) {
  .strawberry {
    right: 35px;
    top: 180px;
    left: unset;
  }

  .main-info-description {
    font-size: 16px;
  }

  .advantages-item-title {
    font-size: 18px;
  }

  .choice-title {
    font-size: 30px;
  }

  .order-content-title {
    font-size: 30px;
  }

  .order-content-description {
    max-width: 344px;
  }
}

@media screen and (max-width: 374px) {
  .strawberry {
    right: 15px;
    top: 200px;
    left: unset;
  }


  .main-image::before {
    top: 25%;
    left: 25%;
  }

  .main-image::after {
    top: 25%;
    left: 25%;
  }
}
