.choice {
  background: #eba8b1;
  padding: 120px 0;
}

.choice .container {
  padding: 0;
}

.choice-title {
  font-size: 45px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: normal;
}

.choice-items {
  display: flex;
  flex-wrap: wrap;
  gap: 85px 29px;
  margin-top: 143px;
  justify-content: center;
}

